<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
</div>

{{!-- DESCOMENTAR SI SE USA LOCAL STORAGE. COMENTAR SI SE TRABAJA CON COOKIES --}}
{{!-- <script src="/JS/users.js"></script> --}} 