<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>

    <br>
    <h1>Logueate usando Github!</h1>
    <a href="/api/usersSessions/login"> <button>Entrar con login (sessions)</button> </a>
    <a href="/api/usersJwt/login"> <button>Entrar con Github (JWT) </button> </a>
    <br>

    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
    <p>¿Tienes cuenta de Github? <a href="/github/login">Haz login por Github</a></p>
</div>
<script src="/JS/loginJwt.js"></script>