$borde_sup: none;
$punteada:12px;
$ancho:100%;
$margen:20px;

hr {
    border: dotted calc($punteada / 2);
    border-bottom: $borde_sup;
    width: $ancho - 40%;
    margin: ($margen * 4) + 20px auto;
}