* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 60%;
  margin: 100px auto;
}

.h1-hab, main form h2, .h1_index, .h2_index, main h1 {
  color: #61fff3;
}

nav {
  background-color: #E4F9F5;
}

#navbarSupportedContent .nav-link p, .intro, .btn, .sect1 p {
  color: #2a7da2;
}

.navbar-dark .navbar-toggler {
  color: transparent;
}

.fa-facebook {
  color: #1c1cdc;
}

.fa-github {
  color: black;
}

.fa-linkedin {
  color: #0e76a8;
}

.exp {
  background-color: rgb(226, 162, 84);
}

.cont1 {
  background-color: rgb(207, 171, 124);
}

.cont2 {
  background-color: rgb(225, 221, 191);
}

.cont3 {
  background-color: rgb(104, 185, 172);
}

hr {
  color: #adf1f1;
}

.skills p, .right .info span {
  color: #fff;
}

.content {
  background-color: rgba(0, 0, 0, 0.4);
}

.right .bars {
  background-color: rgb(23, 2, 2);
}

.right .bars::before {
  background-color: crimson;
}

.tarj1 {
  background-color: #31384A;
}

.col a {
  background-color: black;
}

form {
  background-color: rgba(0, 0, 0, 0.4);
}

/* EN ESTE PARTIAL SE MUESTRA EL RESTO DEL CONTENIDO DEL ARCHIVO CSS CREADO EN LAS ENTREGAS ANTERIORES (style.css) */
body, .body-ayuda {
  font-family: "Viaoda Libre", cursive;
  padding-top: 4.7rem;
  max-width: 100%;
}

ul > li {
  font-size: 1.1rem;
}

p {
  margin-bottom: 0;
}

.p-3 {
  padding: 3rem;
}

.sect1 p {
  font-family: "Viaoda Libre", cursive;
}

/* ##################################### HABILIDADES######################################### */
.body-habilidades {
  text-align: left;
  background-image: url(../img/programadorSR.jpg);
  background-size: 100vw;
  background-size: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.habilidades-titulo {
  text-align: center;
  margin-top: 4rem;
}

.habilidades-seccion {
  margin: 1rem 0 0 0;
}

.skills {
  margin: auto;
  width: 80%;
  padding: 50px 0;
}

.skills h2, .skills h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.skills p {
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
}

.left {
  width: 70%;
}

.left h2, .left h1 {
  text-align: left;
  font-size: 30px;
}

.left p {
  font-size: 18px;
  margin: 15px 0;
}

.right {
  flex: 1;
  width: 80%;
}

.right .line {
  margin-bottom: 15px;
}

.right .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right .info span {
  font-weight: 500;
  font-size: 18px;
}

.right .bars {
  height: 5px;
  width: 100%;
  position: relative;
}

.right .bars::before {
  content: "";
  position: absolute;
  height: 100%;
}

.right .ce::before {
  width: 90%;
}

.right .java::before {
  width: 80%;
}

.right .python::before {
  width: 60%;
}

.right .html::before {
  width: 90%;
}

.right .javascript::before {
  width: 0%;
}

.right .logix::before {
  width: 85%;
}

.right .labview::before {
  width: 30%;
}

.right .matlab::before {
  width: 90%;
}

.right .multisim::before {
  width: 90%;
}

.right .fluidsim::before {
  width: 70%;
}

/* ###################################################### METAS ###################################################### */
.body-metas {
  background-image: url(../img/paisaje.webp);
  background-size: 100vw;
  background-size: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.tarj1 {
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(149, 139, 139, 0.2);
  text-align: center;
  transition: all 0.25s;
}

/* ###################################################### INFORMACION ###################################################### */
.body-ayuda {
  background-image: url(../img/NY.jpg);
  background-size: 100vw;
  background-size: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

footer.foot {
  align-self: flex-end;
  text-align: center;
}

/* ###################################################### RESPONSIVE ###################################################### */
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: none;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: none;
  }
  .skills {
    margin: auto;
    padding: 0px 0;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  .left {
    width: 50%;
  }
  .left h2, .left h1 {
    text-align: left;
    font-size: 30px;
  }
  .left p {
    font-size: 18px;
    margin: 15px 0;
  }
  .right {
    flex: 1;
    margin-left: 30px;
  }
  .right .line {
    margin-bottom: 15px;
  }
  .right .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right .info span {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }
  .right .bars {
    background-color: rgb(23, 2, 2);
    height: 5px;
    width: 100%;
    position: relative;
  }
  .right .bars::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: crimson;
  }
  .right .ce::before {
    width: 90%;
  }
  .right .java::before {
    width: 80%;
  }
  .right .python::before {
    width: 60%;
  }
  .right .html::before {
    width: 90%;
  }
  .right .javascript::before {
    width: 0%;
  }
  .right .logix::before {
    width: 85%;
  }
  .right .labview::before {
    width: 30%;
  }
  .right .matlab::before {
    width: 90%;
  }
  .right .multisim::before {
    width: 90%;
  }
  .right .fluidsim::before {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: none;
  }
  .sect1 p {
    font-size: 1.2rem;
  }
  .sect1 h1 {
    font-size: 2.65rem;
    font-weight: 500;
  }
  main form.contactame {
    width: 100%;
  }
  img.inicioS {
    height: 50vh !important;
  }
}
.container, .container-sm {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

h2, h1, h3, h4, h5 {
  color: #088178;
  margin-bottom: 0;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
}

.tarjeta:hover, .nav-link p:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
}

.nav-link p:hover {
  background-color: #4d4c4c;
  color: #ffffff;
  padding: 5px;
}

.boton1, .boton2, .boton3 {
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 20px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}
.boton1.boton1::before, .boton2.boton1::before, .boton3.boton1::before {
  content: "Leer mas";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}
.boton1.boton1:hover::before, .boton1:hover:after, .boton2.boton1:hover::before, .boton2:hover:after, .boton3.boton1:hover::before, .boton3:hover:after {
  transform: rotatex(0);
}
.boton1.boton1::after, .boton2.boton1::after, .boton3.boton1::after {
  content: "Leer mas";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}
.boton1.boton2:hover, .boton2.boton2:hover, .boton3.boton2:hover {
  background-color: red;
}
.boton1.boton2:before, .boton2.boton2:before, .boton3.boton2:before {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  transform: translatex(-100%) rotate(45deg);
  transition: all 0.3s;
}
.boton1.boton2:hover:before, .boton2.boton2:hover:before, .boton3.boton2:hover:before {
  transform: translatex(100%) rotate(45deg);
}
.boton1.boton3:before, .boton2.boton3:before, .boton3.boton3:before {
  content: "Leer mas";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.boton1.boton3:after, .boton2.boton3:after, .boton3.boton3:after {
  content: "Leer mas";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: yellow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}
.boton1.boton3:hover:before, .boton2.boton3:hover:before, .boton3.boton3:hover:before {
  transform: translate(100%, -100%);
}
.boton1.boton3:hover:after, .boton2.boton3:hover:after, .boton3.boton3:hover:after {
  transform: translate(0, 0);
}

/*# sourceMappingURL=main.css.map */
