<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<style>
		header nav{color: red;}

		header nav ul li a {color: orange;}
	</style>
</head>
<body>
	<!-- inicio encabezado -->
	<header>
		<!-- logo -->
		<h3>LOGO</h3>
		<!-- fin logo -->
		<!-- inicio nav -->
		<nav>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="servicios.html">Servicios</a></li>
				<li><a href="nosotros.html">Nosotros</a></li>
				<li>Contacto</li>
				<li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>
			</ul>
		</nav>
		<!-- fin nav -->
	</header>
	<!-- fin encabezado -->
	<!-- inicio contenido -->
	<section>
		<article>
			<!-- encabezado form -->
			<h1>CONTACTO</h1>
			<!-- cierre encabezado form -->
			<!-- inicio form -->
			<form action="#">
				<input type="text" placeholder="Decime tu nombre"><br>
				<label for="apellido">Apellido:
					<input type="text" name="apellido">
				</label><br>
				<input type="number" placeholder="Edad"><br>
				<textarea name="" id="" cols="60" rows="10" placeholder="comentarios"></textarea><br>
				<fieldset>
					<legend>De que lado estas</legend>
					<select name="lado" id="lado">
						<option value="A">Arriba</option>
						<option value="Ab">Abajo</option>
					</select>
				</fieldset>
				<div><p>De que lado</p>
					<select name="lado" id="lado">
						<option value="A">Arriba</option>
						<option value="Ab">Abajo</option>
					</select>
				</div>
				<div>Izquierda <input type="radio" name="ladoE"></div>
				<div>Derecha <input type="radio" name="ladoE"></div>
				<div>Centro <input type="radio" name="ladoE"></div>
				<input type="submit" value="ENVIAR"><input type="reset" value="RESETEAME">
			</form>
			<!-- cierre form -->
		</article>
	</section>
	<section>
		<h2 id="cuerpo" style="color: blue;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nihil ex voluptatibus optio nisi similique. Impedit, fugiat vitae quaerat libero sunt ipsam aliquid culpa saepe debitis. Optio quis saepe, autem. Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Hic cumque repellat, repudiandae quae. Optio beatae excepturi pariatur quia porro. Eum aut mollitia ipsum dolore. Reiciendis quaerat repellat in id quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa placeat veniam dignissimos quam, dolorem, saepe! Vero enim magnam, voluptatum sint cupiditate, quae exercitationem rerum laborum, odit repellendus aliquid ad consectetur.</h2>
	</section>
	<!-- fin contenido -->
	<!-- inicio footer -->
	<footer>
		
	</footer>
	<!-- fin footer -->
</body>
</html>