@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@300;400;500;600;700;800&family=Stardos+Stencil&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#res{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Stardos Stencil', cursive;
}

body{
  
  padding: 0%;
}