<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- inicio encabezado -->
	<header>
		<!-- logo -->
		<img src="../assets/img/beach.png" alt="logo sitio">
		<!-- fin logo -->
		<!-- inicio nav -->
		<nav>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="servicios.html">Servicios</a></li>
				<li>Nosotros</li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>
			</ul>
		</nav>
		<!-- fin nav -->
	</header>
	<!-- fin encabezado -->
	<!-- inicio section -->
	<header>
		<article>
			<table>
				<tr>
					<td><img src="../assets/img/header2.jpg" alt="banner atardecer"></td>
				</tr>
				<tr>
					<td><h1 class="titulo_nosotros">Nosotros</h1></td>
				</tr>
			</table>
		</article>

	</header>
	<!-- fin section -->
	<!-- contenido informativo -->
		<div class="container">
			<div class="row">
				<div class="col">
					<h4 class="string_fecha">Viernes 17 de junio</h4>
					<p class="parrafo_fecha">Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Accusamus consectetur suscipit provident quod ducimus eveniet impedit quis. Ratione, porro molestias! Vel error enim dolorem labore! Tempora ab enim eligendi nihil.</p>
				</div>
			</div>
		</div>
	<!-- cierre contenido informativo -->
</body>
</html>