<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- inicio encabezado -->
	<header>
		<!-- logo -->
		<h3>LOGO</h3>
		<!-- fin logo -->
		<!-- inicio nav -->
		<nav>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li>Servicios</li>
				<li><a href="contacto.html">Contacto</a></li>
				<li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>
			</ul>
		</nav>
		<!-- fin nav -->
	</header>
	<!-- fin encabezado -->
	<!-- inicio contenido -->
	<section>
		<article>
			<!-- inicio tabla -->
			<table border="1px" cellpadding="20px">
				<tr>
					<th>ID</th>
					<td>Nombre</td>
					<td>Apellido</td>
				</tr>
				<tr>
					<td>0001</td>
					<td>Ema</td>
					<td>Girolami</td>
				</tr>
				<tr>
					<td>0002</td>
					<td>Gasti</td>
					<td>Crespo</td>
				</tr>
				<tr>
					<td>0003</td>
					<td>Mati</td>
					<td>Pieiga</td>
				</tr>
			</table>
			<!-- cierre tabla -->
		</article>
	</section>
	<!-- fin contenido -->
	<!-- inicio tabla contenidos -->
	<table>
		<tr>
			<td><img src="../assets/img/header5.jpg" alt="horizonte atardecer" width="100%"></td>
		</tr>
		<tr>
			<td><audio src="../assets/audio/audioBeat.mp3" controls></audio></td>
		</tr>
		<tr>
			<td><h2>UBICACIÓN</h2></td>
		</tr>
		<tr>
			<td><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12574.580601619808!2d-57.5736739!3d-38.0087366!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x643af57e4933f20!2sCasa%20del%20Puente!5e0!3m2!1ses-419!2sar!4v1623936862367!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></td>
		</tr>
		<tr>
			<td><iframe width="560" height="315" src="https://www.youtube.com/embed/vPe4BWP07hs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
		</tr>
	</table>
	<!-- fin tabla contenidos -->
	<!-- inicio footer -->
	<footer>
		
	</footer>
	<!-- fin footer -->
</body>
</html>