<div>
    <h1>Restaurar contrasena</h1>

    <form action="" id="form">
        <label for="password">Nueva contrasena</label>
        <input {{!-- type="password --}}" name="pw1">

        <label for="password">Confirmar contrasena</label>
        <input {{!-- type="password --}}" name="pw2">

        <button type="submit" class="btn btn-dark">Confirmar</button>
    </form>
    
    <div>
        <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    </div>
    <div>
        <p>¿Tienes cuenta de Github? <a href="/github/login">Haz login por Github</a></p>
    </div>

    <div id="res">

    </div>
</div>
<a href="/login" id="login">Confirmar</a>

<script src="/JS/passwordReset.js"></script>