<div>
    <h1>Olvidaste tu contrasena?</h1>

    <form action="" id="form">
        <label for="">Correo</label>
        <input id="email" type="email" name="email">
        <button type="submit" class="btn btn-dark">Enviar</button>
        {{!-- <button type="submit" class="btn btn-dark">Enviar</button> --}}
    </form>
    
    <div>
        <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    </div>
    <div>
        <p>¿Tienes cuenta de Github? <a href="/github/login">Haz login por Github</a></p>
    </div>

    <div id="res">

    </div>
</div>

<a href="/waitting" id="waitting"></a>
<script src="/JS/passwordForget.js"></script>