<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex flex-column justify-content-center mb-3">
        <div id="profile">
    
        </div>
        <div>
            <a href="/products">Ver productos</a>
        </div>
        <div>
            <button class="btn btn-dark" id="logout">Logout</a></button>
        </div>
    </div>

<script src="/JS/profile.js"></script>
</body>
</html>
