<div class="m-3">
    <h1>Lista de productos seleccionados EN VIVO</h1>
        <form id="form">
            <input type="text" name="title" placeholder="Ingresar titulo">
            <input type="text" name="description" placeholder="Ingresar descripcion">
            <input type="number" name="price" placeholder="Ingresar precio">
            <input type="text" name="thumbnail" placeholder="Ingresar link de imagen">
            <input type="text" name="code" placeholder="Ingresar codigo">
            <input type="number" name="stock" placeholder="Ingresar stock">
            <input type="text" name="category" placeholder="Ingresar categoria">
            <input type="submit" value="Send" placeholder="Ingresar titulo">
        </form>
    
    <div id="newProducts"></div>
    
    <div id="productList"></div>    
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/JS/realTimeProductSocket.js"></script>