<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="d-flex flex-column justify-content-center mb-3">
        <h2 class="pb-2">Profile</h2>
        <div id="perfil">

        </div>
    </div>

    <script src="/JS/usersModify.js"></script>
</body>

</html>