<div>
    <h2>Espera...</h2>

    <div>
        <p>Se envio un correo de confirmacion, espera a que llegue o revisa en tu carpeta de correo no deseado.</p>
    </div>

</div>

<script src="/JS/wait.js"></script>