<div id="message-container"></div>
<form id="form">
    <label for="message-input">Message</label>
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
    <br>
    <label for="room-input" id="room">Room</label>
    <input type="text" id="room-input">
    <button type="button" id="room-button">Join</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/JS/socket4.js"></script>